
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Mystery Word</title>
      <link rel='stylesheet' href='/public/style.css'/>
      <link href="https://fonts.googleapis.com/css?family=Frijole|Londrina+Solid|Luckiest+Guy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    </head>
    <body>
      <h1>??? Mystery Word ???</h1>

      <div class="container">

        <div class="header">
          <p class="guessCount">You have <span><%= guessCount %></span> guesses left</p>
          <div class=="word-background">
            <p class="mysteryWord"> <%= mysteryWord %></p>
          </div>
        </div>

        <div class="letterbank">
          <h4>Letterbank</h4>
          <ul class="alphabet">
          <% alphabet.forEach(function(character){ %>
            <li><%= character %></li>
          <% }) %>
          </ul>
        </div>

        <form action="/" method="POST" class="guess-box">
          <div class="guess">
            <p class="letter-prompt">Enter a letter to guess here:</p>
            <input type="text" class="letter-input" name="letterInput" autocomplete="off">
            <br>
            <button type="submit" class="letter-submit">Enter</button>
            <br>
          </div>
        </form>

      </div>
      <script>
      </script>
    </body>
  </html>
