
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Mystery Word</title>
      <link rel='stylesheet' href='/public/style.css'/>
      <link href="https://fonts.googleapis.com/css?family=Frijole|Londrina+Solid|Luckiest+Guy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    </head>
    <body>
      <h1>??? Mystery Word ???</h1>

      <div id="container">
        <div id="header">
          <p id="guessCount">You have <span><%= guessCount %></span> guesses left</p>
          <div id="word-background">
            <p id="mysteryWord"> <%= mysteryWord %></p>
          </div>
        </div>

        <form action="/" method="POST" id="guess-box">
          <p id="letter-prompt">Enter a letter to guess here:</p>
          <input type="text" id="letter-input" name="letterInput" autocomplete="off">
          <br>
          <button type="submit" id="letter-submit">Enter a Letter</button>
          <br>
        </form>

        <div id="letterbank">
          <h4>LETTERBANK</h4>
          <ul id="alphabet">
          <% alphabet.forEach(function(character){ %>
            <li><%= character %></li>
          <% }) %>
          </ul>
        </div>
      </div>

      <script src="main.js"></script>
    </body>
  </html>
