
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel='stylesheet' href='/public/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Frijole|Londrina+Solid|Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>
  <body>
    <h1>??? Mystery Word ???</h1>

    <div class="container">

      <div class="header">
        <p class="guessCount">Sorry, you lost!<br> Your word was...</p>
        <div class="word-background">
          <p class="mysteryWord"> <%= mysteryWord %></p>
        </div>
      </div>

    </div>

  </body>
  </html>
